.main {
    margin-top: 69px;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 38px;
        line-height: 52px;
        color: #363636;
    }
}